@charset "UTF-8";
th{
	border-bottom: solid 2px black;
	width:200px; 
	text-align:center;
}
td{
	width:200px; 
	text-align:center;
	font-weight: bold;
}
.wrapper {
  width: 500px;
  height: 300px;
  overflow: scroll;
}

table {
  width: 100%;
}

thead tr th {
  position: sticky;
  top: 0;
}

tbody tr th {
  position: sticky;
  left: 0;
}
.divStyle{
	padding:70px;
}
.row-height {
    display: flex;
    flex-wrap: wrap;
}